{% extends 'base.html.twig' %}

{% block title %}Hello AdminApprentiController!{% endblock %}

{% block body %}
<div class='container'>
    <div class='jumbotron text-center'>

        <h1>UFA du Hainaut</h1>
        <p>Les apprentis</p>
    </div>
    <div class="container">
        <table class="table table-condensed table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
            </tr>
            </thead>
            {% for apprenti in apprentis %}
                <tr>
                    <td><strong>{{ apprenti.nom | upper }}</strong>
                    </td>
                    <td>{{ apprenti.prenom }}</td>
                    <td><a href="{{ path('admin.apprenti.edit', {id: apprenti.id}) }}" class="btn btn-success" >Editer</a></td>
                </tr>
            {% endfor %}

        </table>
    </div>
    {% endblock %}
